pyrogram
tgcrypto
flask
moviepy
aiogram
pytz
Pillow==9.1.1
requests==2.31.0
urllib3==2.0.3
ffmpeg-python
ffmpeg
motor
wget
psutil
apscheduler
gdown
beautifulsoup4
libtorrent==2.0.11
requests-html
playwright
beautifulsoup4
selenium==4.29.0
